{% extends 'weatherapp/index.html' %}
{% block title %}Create an Account{% endblock %}

{% block content %}
<div class="main-content">
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <p><input type="checkbox" name="recieve_mail" id="" value="clicked"> I would like to recieve forecast and weather warning emails</p>
        <button type="submit">Sign Up</button>
        <a href=""><img src="../../../static/icons/google_icon.png" alt="Sign-in with Google" width="20" height="20"></a>
    </form>
</div>
{% endblock %}